body{
    background-color: rgb(242, 214, 255);
}

header{
    background-color: rgb(211, 171, 243);
}

header div img{
    width:300px;
}
#imagen-logo-vult{
    width:500px ;
}

.subtitulo{
    text-align: center;
    padding: 50px;
    font-size: 20px;
}